<!-- <div class="container">
    <div class="card">
        <div class="card-body">

            <div class="row tout">
                
                <div class="col"></div>
                <div class="col-4 img">
            
                </div>
                <div class="col-4">
                    <div class="login-box">
                        <h2>Connexion</h2>
                        <form #form1="ngForm" class="" *ngIf="!isLoggedIn"
                        name="form"
                        (ngSubmit)="f.form.valid && onSubmit()"
                        #f="ngForm"
                        novalidate>
                          <div class="user-box">
                            <input type="text" name="numeroOrEmail"
                            [(ngModel)]="form.numeroOrEmail"
                            required
                            #numeroOrEmail="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && numeroOrEmail.errors }" name="numeroOrEmail"
                            [(ngModel)]="form.numeroOrEmail"
                            required
                            #numeroOrEmail="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && numeroOrEmail.errors }">
                            <label>Email ou numéro de téléphone</label>
                            <div *ngIf="numeroOrEmail.errors && f.submitted" class="invalid-feedback">
                                Numero ou email obligatoire !
                              </div>
                          </div>
                          <div class="user-box">
                            <input type="password" name="password"
                            [(ngModel)]="form.password"
                            required
                            minlength="6"
                            #password="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
                            <label>Mot de passe</label>
                            <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
                                <div *ngIf="password.errors['required']">Mot de passe obligatoire !</div>
                                <div *ngIf="password.errors['minlength']">
                                  Le mot de passe doit avoir 6caractères au moins.
                                </div>
                              </div>
                          </div>
                         
                          <a class="connect" href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <button type="submit">
                             Connecter</button>
                          </a>
                        
                        </form>
                      </div>
                </div>
        
                <div class="col"></div>
            </div>
        </div>
    </div>
</div> -->


<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="../../assets/img/logo.png" alt="login form" class="img-fluid" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">



                <div class="d-flex align-items-center mb-3 pb-1">

                  <span class="h1 fw-bold mb-0" style="color: #353558;">Connexion</span>
                </div>
                <form #form1="ngForm" class="" *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()"
                  #f="ngForm" novalidate>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                      name="numeroOrEmail" [(ngModel)]="form.numeroOrEmail" required #numeroOrEmail="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && numeroOrEmail.errors }">
                    <label for="floatingInput">Email ou numéro de téléphone</label>
                    <div *ngIf="numeroOrEmail.errors && f.submitted" class="invalid-feedback">
                      Numero ou email obligatoire !
                    </div>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com"
                      name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
                    <label for="floatingInput">Mot de passe</label>
                    <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
                      <div *ngIf="password.errors['required']">Mot de passe obligatoire !</div>
                      <div *ngIf="password.errors['minlength']">
                        Le mot de passe doit avoir 6caractères au moins.
                      </div>
                    </div>
                  </div>
                  <span class="text-muted"  style="float: right;"(click)="!isForgetpass ? isForgetpass = true : isForgetpass=false">Mot de passe oublié?</span>
                  <!-- <div class="flexbuttton mt-3" >
                    <span type="button"> Changer mot de passe </span>
                  </div> -->

                  <div class="pt-1 mb-4">
                    <button type="submit" class="bouton">Connecter</button>
                  </div>
                  <div *ngIf="isForgetpass">
                    <form action="" #resetForm="ngForm" (ngSubmit)="onResetpassword(resetForm.value)">
                      <div class="form-floating mb-3">
                        
                        <input type="email" pattern=".+@gmail.com"class="form-control" name="emails" placeholder="email@gmail.com" required
                          ngModel #emailInput="ngModel" />
                          <label for="emails">Email</label>
                        <a class="help-block" *ngIf="emailInput.invalid && emailInput.touched">Entrer un email
                          valide.</a>
                      </div>
                      <div class="button mt-3">
                        <input type="submit" class="bouton" value="Réinitialiser" [disabled]="resetForm.invalid">
                      </div>
                    </form>
                  </div>

                  <!-- <div *ngIf="isForgetpass">
                    <form action="" #resetForm="ngForm" (ngSubmit)="onResetpassword(resetForm.value)">
                      <div class="form-group">
                        <label for="emails">Email : </label>
                        <input type="email" class="form-control" name="emails" placeholder="email@gmail.com" required
                          ngModel #emailInput="ngModel" />
                        <span class="help-block" ngIf="emailInput.invalid && emailInput.touched">Entrer email
                          valide.</span>
                      </div>
                      <div class="button mt-3">
                        <input type="submit" value="Réinitialiser" [disabled]="resetForm.invalid">
                      </div>
                    </form>
                  </div> -->

                </form>





              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>