<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Patient</div>
  <div class="page__content shadow p-3 position-relative">

<div class="container-fluid">
    <div class="card">
      <div class="card-body ">
    <h3>Liste des patients</h3>
  
  
      <table class="table table-striped table-hover table-borderless " >
          <thead class="entete">
            <tr >
              <th scope="col">N°</th>

              <th scope="col">Nom</th>
              <th scope="col">Numero</th>
              <th scope="col">Email</th>
              <th scope="col">Adresse</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of patients | paginate:{itemsPerPage:10,currentPage:p}">
              <td>{{p.id}}</td>
              <td>{{p.nom}}</td>
              <td>{{p.numero}}</td>
              <td>{{p.email}}</td>
              <td>{{p.adresse}}</td>
              <td class="icons"> <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16" style="color: red;"  (click)="popDeletePatient(p.id)">
                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
              </svg>   
            
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16" [routerLink]="['/details-patients', p.id]">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
              </svg>

            </td>
            </tr> 
           
            
          </tbody>
        </table>

        <div class="pagination">
          <pagination-controls (pageChange)="p=$event" previousLabel="" nextLabel=""></pagination-controls>
        </div>
        </div>
        
      </div>
      
  </div> 
 
</div>
</div>

<style>
/* p{
  font-size: .5em;
}
</style>  */
  