
// .list-item-active{
    
//     border-left: 5px solid;
//     color: #368E8C !important;
//     padding-left: 15px;
//     font-weight: 700 !important ;

//         background-color: #353558 !important;
       

//     }
    

//     a:hover{
//         background-color: #368E8C !important;
//         color: #ffffff !important;
//         border-radius: 10px;
//         width: 80% !important;
//     }



// // .mat-subheader{
// //     color: #818cf8;
// //     font-size: 0.6rem;
// //     font-weight: 100px;
// //     letter-spacing: 1px;
// // }
// a{
//     padding-left: 20px;
//     margin-bottom: 10px;
//     text-transform: capitalize;
//     margin-left: auto;
//     margin-right: auto;
//     width: 80% !important;
//     background-color:#353558;
//     color: #ffffff !important;
//     border-radius: 10px;
//     margin-top: 20px !important;
// }

// //:::::::::::::after
.menu-header-bg{
    height: 180px;
    // width: 350px;
    width: 300px;
    
    background: #353558;
    background: linear-gradient(90deg, #353558 0%, #353558 100%);
    box-shadow: 0px 1px 10px rgba(31, 56, 126, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
     margin-left: -25px;
    margin-top: -50px;
    margin-bottom: 60px;
  }
  .header-content{
      position: absolute;
     top:30px;
    // left: 15px;
     display: flex;
     align-items: center;
     
  }
  
  img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px solid white;
    margin-right: 14px;
    }
     h2{
      font-weight: 300;
      color: #fff;;
     }
     p{
      font-size: 12px;
      color: #e4e4e4;
      font-weight: 100;
      letter-spacing: 0.4px;
     }
//     }



.mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
    color: #FFFFFF !important;
  }
  
  .logo {
    text-align: center;
    padding: 2.6rem 1rem;
  
    img {
      width: 100px;
    }
  }
  
  .mat-divider {
    border-top-width: 2px;
    border-color: white;
  }
  
  .mdc-list-item__primary-text {
    color: beige;
  }
  
  mat-list-item>span {
    color: #f7f8fa;
  }
  
//   mat-list-item:hover {
//     background-color: #fff;
//   }
  
  mat-list-item {
    color: #f7f8fa !important;
    text-decoration: none;
  
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    height: 44px !important;
    border-radius: 5px;
    

    background-color: #353558;
    width: 80% !important;
    margin-bottom: 20px;

   
//     &:hover {
// //       color: #f2f5f7 !important;
// //   background-color: #368E8C !important;
//       mat-icon,
//       span {
//         color: white !important;
//       }
//     }
  
//     ::ng-deep {
//       .mat-list-item-content {
//         border-radius: 5px;
//         margin: 0 8px;
  
//         &:hover {
//           background: #fff !important;
//         }
//       }
//     }
  }

//   mat-list-item span {
//     color: #FFFFFF !important;
//   }
  
  .dashboardControleFacile {
    border-left: 2px solid;
     background-color: #368E8C !important;
      padding-left: 15px;
    mat-icon,
    span {
      color: #fff !important;
    }
  }
  
.hover:hover{
    background-color: #368E8C

}
  // ============================================  les items de navigations
//   mat-list-item{
//     background-color: #353558;
//     width: 80% !important;
//     margin-bottom: 20px;

//     mat-icon,
//     span {
//       color: white !important;
//     //   background-color: #0378B0;
//     }} 
  

  
  h2 {
    // color: #818cf8;
    // font-size: 0.6rem;
    font-weight: 600;
    // letter-spacing: 1px;
  }
  
  .matSubheader {
    text-align: center;
  }
  
  @media screen and (max-width: 940px) {
  
    span {
      visibility: hidden;
    }
  
    .logo {
      text-align: center;
      padding: 1rem 0;
  
      img {
        width: 90px;
      }
    }
  
    .mat-icon {
      // vertical-align: middle;
      margin-right: 2rem;
      //  width: 100px;
      // height: 60px;
      // font-size: 38PX;
      color: #FFFFFF !important;
    }
  
    mat-list-item {
      text-align: center;
    }
  
    mat-list-item:hover {
      background-color: #353558;
    }
  
  }

  .dec{
    background-color: rgb(169, 58, 58);
    margin-top: 70px;
  }
  .dec:hover{
    background-color: rgb(169, 58, 58);

  }