<!--  <section id="sidebar"> 
    <div class="white-label">
    </div> 
    <div id="sidebar-nav">   
      <ul>
        <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#"><i class="fa fa-desktop"></i> My Website</a></li>
        <li><a href="#"><i class="fa fa-usd"></i> Ecommerce</a></li>
        <li><a href="#"><i class="fa fa-pencil-square-o"></i> My Blog</a></li>
        <li><a href="#"><i class="fa fa-sitemap"></i> SEO Tools</a></li>
        <li><a href="#"><i class="fa fa-line-chart"></i> Reporting</a></li>
        <li><a href="#"><i class="fa fa-comments-o"></i>Social Marketing</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i> Get Traffic</a></li>     
        <li><a href="#"><i class="fa fa-users"></i> Employees</a></li>
        <li><a href="#"><i class="fa fa-calendar-o"></i> Reservations</a></li>
        <li><a href="#"><i class="fa fa-calendar"></i> Calendar</a></li>
      </ul>
    </div>
  </section> -->
  <!-- <section id="content">
    <div id="header">
      <div class="header-nav">
        <div class="menu-button"> -->
          <!--<i class="fa fa-navicon"></i>-->
        <!-- </div>
        <div class="nav">
          <ul>
            <li class="nav-settings">
              <div class="font-icon"><i class="fa fa-tasks"></i></div>
            </li>
            <li class="nav-mail">
              <div class="font-icon"><i class="fa fa-envelope-o"></i></div>
            </li>
            <li class="nav-calendar">
              <div class="font-icon"><i class="fa fa-calendar"></i></div>
            </li>
            <li class="nav-chat">
              <div class="font-icon"><i class="fa fa-comments-o"></i></div>
            </li>
            <li class="nav-profile">
              <div class="nav-profile-image">
                <img src="https://skynet.marketecture.com/user_avatars/258800/Hayley-Helsten.jpg" alt="profile-img" alt="profile image">
                <div class="nav-profile-name">Jane Smith<i class="fa fa-caret-down"></i></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="content-header">
        <h1>Dashboard</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="widget-box sample-widget">
        <div class="widget-header">
          <h2>Widget Header</h2>
          <i class="fa fa-cog"></i>
        </div>
        <div class="widget-content">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/87118/sample-data-1.png">
        </div>
      </div>
      <div class="widget-box sample-widget">
        <div class="widget-header">
          <h2>Widget Header</h2>
          <i class="fa fa-cog"></i>
        </div>
        <div class="widget-content">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/87118/sample-data-1.png">
        </div>
      </div>
      <div class="widget-box sample-widget">
        <div class="widget-header">
          <h2>Widget Header</h2>
          <i class="fa fa-cog"></i>
        </div>
        <div class="widget-content">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/87118/sample-data-1.png">
        </div>
      </div>
        <div class="widget-box sample-widget">
        <div class="widget-header">
          <h2>Widget Header</h2>
          <i class="fa fa-cog"></i>
        </div>
        <div class="widget-content">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/87118/sample-data-1.png">
        </div>
      </div>  
    </div>
  </section> -->
  <!-- <aside>
    <p> Menu </p>
    <a href="/acceuil">
      <i class="fa fa-user-o" aria-hidden="true"></i>
      Acceuil
    </a>
    <div class="" >
        <a href="">
        <i class="bi bi-house-fill" color></i>
      Rendez-vous</a>
    </div>
    <a href="javascript:void(0)">
      <i class="fa fa-clone" aria-hidden="true"></i>
      Docteurs
    </a>
    <a href="docteur">
      <i class="fa fa-star-o" aria-hidden="true"></i>
      Patients
    </a>
    <a href="javascript:void(0)">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      Trash
    </a>
  </aside>
  
  <div class="social">
    <a href="https://www.linkedin.com/in/florin-cornea-b5118057/" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
  </div> -->

  
  <!-- <mat-nav-list>
    <div class="menu-header-bg"></div>
    <div class="header-content">
      <img src="../../assets/img/Rectangle 62 (1).png" alt="" routerLink="/profil">
      <label>
        <h2>Alasko</h2>
        <p>Administrateur</p>
      </label>
    </div>
    
    <div class="reste" style="margin-top: 130px !important;">
    <a mat-list-item routerLink="/acceuil" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Acceuil
    </a>

    <a mat-list-item routerLink="/patient" routerLinkActive="list-item-active">
        <mat-icon>person</mat-icon>Patients
    </a>

    <a mat-list-item routerLink="/docteur" routerLinkActive="list-item-active">
        <mat-icon>person</mat-icon>Docteurs
    </a>

    <a mat-list-item routerLink="/rendezvous" routerLinkActive="list-item-active">
        <mat-icon>appointment</mat-icon>Rendez-vous
    </a>
  </div>
  </mat-nav-list> -->



  <mat-nav-list>
    <div class="menu-header-bg"></div>
    <div class="header-content">
      <img src="../../assets/img/Rectangle 62 (1).png" alt="" routerLink="/profil">
      <label>
        <h2>Alasko</h2>
        <p>Administrateur</p>
      </label>
    </div>

    <div class="reste" style="margin-top: 130px !important;">
    <div class="matSubheader">
<h2  class="mt-2"> </h2>
    </div>
    
    <mat-list-item routerLinkActive="dashboardControleFacile" class="hover"  routerLink="/acceuil">
      <mat-icon>dashboard</mat-icon> <span>Accueil</span> 
    </mat-list-item>
  
    <mat-list-item routerLinkActive="dashboardControleFacile" class="hover" routerLink="/patient">
      <mat-icon>person</mat-icon> <span>Patient</span>
    </mat-list-item>
    
    <mat-list-item routerLinkActive="dashboardControleFacile" class="hover" routerLink="/docteur">
      <mat-icon>person</mat-icon> <span>Docteur</span>
    </mat-list-item>
    
    <mat-list-item routerLinkActive="dashboardControleFacile" class="hover" routerLink="/rendezvous">
      <mat-icon>school</mat-icon> <span>Rendez-vous</span>
    </mat-list-item>
    
    </div>
  </mat-nav-list>
