.contient {
    display: flex;
    justify-content: center;
}

.nbre {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 32px;
}

.texte {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}