<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" >
                <div class="card-body">
                    <div class="contient">
                        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" color="#368E8C">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                          </svg>
                          <p class="nbre" >10</p>
                    </div>
                    
                  <p class="texte">Docteurs</p>
                </div>
              </div>
        </div>
        <div class="col">

            <div class="card" >
                <div class="card-body">
                    <div class="contient">
                        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" color="#368E8C">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                          </svg>
                          <p class="nbre" >10</p>
                    </div>
                    
                  <p class="texte">Docteurs</p>
                </div>
              </div>
        </div>


        <div class="col">
            <div class="card" >
                <div class="card-body">
                    <div class="contient">
                        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" color="#368E8C">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                          </svg>
                          <p class="nbre" >10</p>
                    </div>
                    
                  <p class="texte">Docteurs</p>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card" >
                <div class="card-body">
                    <div class="contient">
                        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" color="#368E8C">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                          </svg>
                          <p class="nbre" >10</p>
                    </div>
                    
                  <p class="texte">Docteurs</p>
                </div>
              </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col" style="background-color: aqua; height: 200px;">tyuik(-èt-y_uiordtuygiojpk^l$</div>
        <div class="col" style="background-color:bisque">rdtyghuj-ètugzerdtfuygiàuiyt'ze(ryugihoouyitur"'z(er-tyiuopi</div>
    </div>

</div>