img{
    width: 130%;
    height: 100%;
   
}

.tout{
    background-color: white;
    border: 2px solid rgb(213, 200, 200);
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgb(238, 230, 230);
    border-radius: 10px;
    padding-top: 20px;
     padding-bottom: 20px;
}

b{
   
    color: black !important;
    font-weight: 200 !important;
}

.tt{
    margin: 25px;
    font-size: 16px;
    border: 1px solid rgb(223, 220, 220);
    border-radius: 5px;
    padding: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: #368E8C;
    font-weight: 500 !important;
    // padding-top: 20px;
    // padding-bottom: 20px;
  }